<!-- ======= Contact Section ======= -->
<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
              <address class="mb-2"><strong>Head Office:</strong> <br>12/100 Taylors Rd Keilor Downs, <br>3038 Vic, Australia</address>
              <address><strong>Dhaka Office:</strong> <br>Apt B5, House 35 (Green Primavera), <br>Road 17, Block E, Banani, <br>Dhaka - 1213, Bangladesh</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
              <p class="mb-2"><strong>Head office:</strong><a href="tel:+61399958375"> +61-3-99958375</a></p>
              <p><strong>Dhaka office:</strong><a href="tel:+88029888724"> +88 02 9888724</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
              <p class="mb-2"><strong>Technical Support:</strong> <br><a href="mailto:support@simplexhub.com"> support@simplexhub.com</a></p>
              <p class="mb-2"><strong>General Inquiry:</strong> <br><a href="mailto:info@simplexhub.com"> info@simplexhub.com</a></p>
              <p><strong>Customer Service:</strong> <br><a href="mailto:customerservice@simplexhub.com"> customerservice@simplexhub.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section>
  <!-- End Contact Section -->
