<!-- ======= Services Section ======= -->
<section id="service-details">
    <div class="container mt-3" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>Software development can be an involved and time consuming activity. This can result in more outstanding projects than development resources can handle. At Simplexhub we have a team of dedicated programmers experienced at helping businesses get projects completed on time and on budget. Join our other satisfied customers and instantly expand your development capacity.</p>
        <!-- <p>Services that we can provide include:</p> -->
    </header>

      <div class="row">

        <div class="col-lg-12 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-code"></i></div>
          <h4 class="title">Custom Software Development</h4>
          <p class="description">Simplexhub has developed solutions for a number of clients in Australia, and United States. All Simplexhub solutions are developed using modern Microsoft software development technology including C#.NET, ASP.NET, ASP.NET MVC and SQL Server.</p>
          <p class="description">Simplexhub has implemented solutions including:</p>
          <ul>
              <li><i class="icofont-tick-mark"></i> Web Design & Development</li>
              <li><i class="icofont-tick-mark"></i> Web Marketing & Search Engine Optimisation (SEO)</li>
              <li><i class="icofont-tick-mark"></i> e-Commerce</li>
              <li><i class="icofont-tick-mark"></i> Database Design & Development</li>
              <li><i class="icofont-tick-mark"></i> Graphic Design</li>
              <li><i class="icofont-tick-mark"></i> Content Management Solutions (CMS)</li>
          </ul>
        </div>

        <div class="col-lg-12 col-md-6 box mt-3" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-automation"></i></div>
            <h4 class="title">Web Marketing & Search Engine Optimisation (SEO)</h4>
            <p class="description">Our special team of web designers and developers are dedicated to building web applications that rank highly in all the major search engines, grab the eye and support your business aims with a range of optional, add-on services, online shopping capabilities and content management systems.</p>
        </div>

        <div class="col-lg-12 col-md-6 box mt-3" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-compass-alt-2"></i></div>
            <h4 class="title">Implementation</h4>
            <p class="description">Implementation is the process of taking requirements, applying designs, incorporating custom development and delivering it in a high quality, timely manner. Our implementation team is experienced in Usability design, Search Engine Optimisation (SEO) and Search Engine Marketing (SEM) strategies.</p>
        </div>

        <div class="col-lg-12 col-md-6 box mt-3" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-tools-alt-2"></i></div>
            <h4 class="title">Support</h4>
            <p class="description">All Simplexhub projects are comprehensively supported with a issue tracker, technical support and dedicated developer team on hand to manage any issues.</p>
        </div>

        <div class="col-lg-12 col-md-6 box mt-3" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-web"></i></div>
            <h4 class="title">Hosting</h4>
            <p class="description">Simplexhub can assist in matching our applications with suitable hosting solutions to ensure high availability, high performance and cost effectiveness.</p>
        </div>

      </div>

    </div>
  </section>
<!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio-details" class="section-bg">
    <div class="container mt-3" data-aos="fade-up">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
        <p>Over the years we have been developing a great number of applications of different sizes and for different industries. Our industry experience includes e-business, automobile, real estate, healthcare and finance. Each client challenge is different, and each solution unique. Here we introduce some of our clients and websites that we have built in recent years.</p>
      </header>

    <div class="row portfolio-container">

      <div class="col-lg-12 col-md-6 portfolio-item filter-app">

        <div class="card p-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/carbonblack.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>CarbonBlack</h4>
                  <p>CarbonBlack is an independent online directories and marketplace for automotive services.</p>
                  <p><a href="http://www.carbonblack.com.au/" target="_blank">www.carbonblack.com.au</a></p>
                </div>
              </div>
        </div>        


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                <img src="../assets/img/portfolio/BlastWebConsulting.jpg" class="img-fluid" alt="">
                </div>
    
                <div class="col-md-9 portfolio-info">
                <h4>Blast Web Consulting</h4>
                <p>We are working very closely with Blast web consulting since 2007. We have successfully developed and delivered several large ASP.NET / ASP.NET MVC3 / ASP.NET MVC2 / C#.NET / Sharepoint and database driven applications.</p>
                </div>
            </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/webdynamic.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>WebDynamic</h4>
                  <p>WebDynamic has partnered with some of Australia’s leading brands, helping to secure top-level rankings, boost sales and strengthen brand awareness. WebDynamic designs comprehensive digital strategies and produce intelligent solutions that achieve organisation’s objectives. We are working closely with WebDynamic on ASP.NET MVC3, C#.NET and MS SQL database driven applications.</p>
                  <p><a href="http://www.webdynamic.com.au/" target="_blank">www.webdynamic.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/lazorne.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Lazorne</h4>
                  <p>Lazorne Group Pty Ltd ATF ComplianceConsulting Unit Trust ("Compliance Consulting") was previously known as Compliance Consulting Pty Ltd. The company commenced operations in March 2002 and changed its name when it expanded its operations. It now trades as Lazorne Group Pty Limited. We are working very closely with Lazorne Group Pty Limited and developing important financial applications and reporting modules using Microsoft .NET technologies i.e. ASP.NET MVC2, C#.NET, LINQ, ADO.NET Entity Framework and SQL Server 2005.</p>
                  <p><a href="http://www.lazorne.com/" target="_blank">www.lazorne.com</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/brunetti.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Brunetti</h4>
                  <p>Brunetti is one of the most iconic places to visit in Carlton. We are working closely with Brunetti since 2003.</p>
                  <p><a href="http://www.brunetti.com.au/" target="_blank">www.brunetti.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/cre8ivedge.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Cre8ivedge</h4>
                  <p>Creative Edge (Cre8ivedge*) is a leading Australian creative communication and design agency based in Melbourne. We are working very closely with Creative Edge and recently developed and delivered "Expotrade" a custom developed ASP.NET MVC2, C#.NET Content Management and Event Management System.</p>
                  <p><a href="http://www.cre8ivedge.com.au/" target="_blank">www.cre8ivedge.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/brg-design.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>BRG Design</h4>
                  <p>We are working closely with BRG Design a one stop shop for design, print & web needs. We have successfully developed and delivered several small to medium size web sites using ASP.NET MVC2, C#.NET and other Microsoft technologies.</p>
                  <p><a href="http://www.brgdesign.com.au/" target="_blank">www.brgdesign.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/the-tyre-site.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>The Tyre Site</h4>
                  <p>The tyre site allows you to search and buy the right tyres for your car.</p>
                  <p><a href="http://www.buycartyres.com.au/" target="_blank">www.buycartyres.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/pageflakes-14.png" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Pageflakes</h4>
                  <p>Pageflakes the social personalized homepage, is revolutionizing how we start with and use the Internet.</p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/online-portfolio-management-system.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Online Portfolio Management System</h4>
                  <p>The DomainAdmin online portfolio management system is a fully hosted, powerful & intuitive user interface that provides clients with secure online portfolio access & domain management functions 24x7.</p>
                  <p><a href="https://supervisor.com.au/" target="_blank">www.supervisor.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/freshout.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Freshout</h4>
                  <p>We have worked very closely, with Freshout, an interactive web development agency specialising in designing intuitive applications for humans. We have developed a database driven ASP.NET AJAX application for Freshout that has media streaming capabilities.</p>
                  <p><a href="http://freshout.us" target="_blank">http://freshout.us</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/allthingsauto.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Allthingsauto</h4>
                  <p>Allthingsauto the search engine of the Australian Automotive industry.</p>
                  <p><a href="http://www.allthingsauto.com.au" target="_blank">www.allthingsauto.com.au</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/interpersonality.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>InterPersonality</h4>
                  <p>InterPersonality is about Psychological-Type in particular, making Psyche-type readily available to the masses thus providing a platform to recognise the diverse range of intelligences each of us possess.</p>
                  <p><a href="http://interpersonality.com/" target="_blank">www.interpersonality.com</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/chimpchange.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>ChimpChange</h4>
                  <p><a href="https://www.chimpchange.me/" target="_blank">www.chimpchange.me</a></p>
                </div>
              </div>
        </div>


        <div class="card p-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="row portfolio-wrap">
                <div class="col-md-3">
                  <img src="../assets/img/portfolio/ecommerce-websites.jpg" class="img-fluid" alt="">
                </div>
      
                <div class="col-md-9 portfolio-info">
                  <h4>Ecommerce Websites</h4>
                  <p>European Wardrobe presents to you fashionable European brands from Italy, Denmark, Spain, France and the United Kingdom. European Wardrobe represents fashion and style direct from Europe. They aim to present to you quality fashionable products which will set you apart from the rest.</p>
                  <p><a href="http://www.europeanwardrobe.com.au/" target="_blank">www.europeanwardrobe.com.au</a></p>
                  <p>Eclipse Wholefoods offers simple, tasty and nutritious foods and supplements for 21st century living.</p>
                  <p><a href="http://www.eclipsewholefoods.com.au/" target="_blank">www.eclipsewholefoods.com.au</a></p>
                </div>
              </div>
        </div>
        
      </div>

    </div>

    </div>
  </section>
  <!-- End Portfolio Section -->