<!-- ======= Featured Services Section Section ======= -->
<section id="featured-services">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 box">
          <i class="icofont-ui-settings"></i>
          <h4 class="title"><a href="">Our Services</a></h4>
          <p class="description">Simplexhub has an experienced team of dedicated professionals ready to expand your development capacity. We offer custom...</p>
          <a href="#services" class="description-btn">Read More</a>
        </div>

        <div class="col-lg-4 box box-bg">
          <i class="icofont-interface"></i>
          <h4 class="title"><a href="">Our Portfolio</a></h4>
          <p class="description">Each client challenge is different, and each solution unique. See a selection of the custom solutions we have developed.</p>
          <a href="#portfolio" class="description-btn">Read More</a>
        </div>

        <div class="col-lg-4 box">
          <i class="icofont-box"></i>
          <h4 class="title"><a href="">Our Products</a></h4>
          <p class="description">Learn more about the websites and products that we independently operate and develop.</p>
          <a href="#" class="description-btn">Read More</a>
        </div>

      </div>
    </div>
  </section>
  <!-- End Featured Services Section -->
