<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info footer-links">
            <h3>Simplexhub Ltd</h3>
            <h4>What We Offer</h4>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p> -->
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Web Development</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Application Development</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Mobile Application Development</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Re-engineering/Migration</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Software Maintenance</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Software Enhancement</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Testing / QA</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Technologies</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Web 2.0</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">HTML 4 & 5, CSS 3, JQuery</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">ASP.NET MVC and ASP.NET</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Orchard CMS & Kentico CMS</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">nopCommerce</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">DotNetNuke (DNN) & Sitefinity</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">WPF, WCF & Silverlight</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">MS SQL & My SQL Server</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Windows Phone, Android & iPhone</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact footer-links">
            <h4>Articles</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Flexible and Plug-in-based .NET Application using Provider Pattern</a> <br><a>This paper demonstrates creating a flexible, extensible, plug-in-based .NET Application...</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Write your own Code Generator or Template Engine in .NET</a> <br><a>This paper demonstrates building a code generator, template engine, template...</a></li>
            </ul>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter footer-links">
            <div class="miscellaneous">
              <h4>Miscellaneous</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Site Admin</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Contact Us</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Blogs</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Articles</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Holidays</a></li>
              </ul>
            </div>

            <div class="our-companies mt-3">
              <h4>Our Companies</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="http://www.toprankbd.com/" 
                        target="_blank">Top Rank</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="http://www.toppolymersbd.com/" 
                        target="_blank">Top Polymers</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="http://www.gskglobal.com.au/"
                        target="_blank">GSK Global</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="http://www.simplexhub.com/"
                        target="_blank">Simplexhub</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Simplexhub Ltd</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
      -->
        Designed by <a href="https://bootstrapmade.com/">Simplexhub</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
