<!-- ======= Services Section ======= -->
<section id="holidays-details">
    <div class="container" data-aos="fade-up">
  
      <header class="section-header wow fadeInUp">
        <h3>Holidays</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-8">
            <h6>Customized Holidays for Simplexhub Team:</h6>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name of Occasion</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Shaheed Day & International Mother Language Day</td>
                    <td>21st February, 2020</td>
                  </tr>
                  <tr>
                    <td>Labour Day*</td>
                    <td>9th March, 2020</td>
                  </tr>
                  <tr>
                    <td>Birthday of the Father of the Nation Bangabandhu Sheikh Mujibur Rahman</td>
                    <td>17th March, 2020</td>
                  </tr>
                  <tr>
                    <td>Independence & National Day</td>
                    <td>26th March, 2020</td>
                  </tr>
                  <tr>
                    <td>Bengali New Year's Day</td>
                    <td>14th April, 2020</td>
                  </tr>
                  <tr>
                    <td>Shab-e-Qadr*</td>
                    <td>21st May, 2020</td>
                  </tr>
                  <tr>
                    <td>Eid-ul-Fitr*</td>
                    <td>25th, 26th & 27th May, 2020</td>
                  </tr>
                  <tr>
                    <td>Eid-ul-Adha*</td>
                    <td>3rd, 4th & 5th August, 2020</td>
                  </tr>
                  <tr>
                    <td>National Mourning Day</td>
                    <td>15th August, 2020</td>
                  </tr>
                  <tr>
                    <td>Year-end Holidays*</td>
                    <td>25th to 31st December, 2020 & 1st January, 2021</td>
                  </tr>
                </tbody>
              </table>
              <p>* Subject to be changed</p>
        </div>
  
        <div class="col-lg-4 col-md-4 card p-4">
          <div class="mb-3">
            <h4 class="blog-header">Simplexhub Ltd. wins BASIS outsourcing award 2015.</h4>
            <img class="w-100" src="../assets/img/Basis.jpg" alt="Basis Award">
          </div>
  
          <div class="mt-3">
            <h4 class="blog-header">Recent From The Blog</h4>
            <div class="mb-5">
              <h5 class="blog-title">Implement custom Claim based Authorization in ASP.NET MVC Web Application</h6>
                <p class="blog-paragraph">Claim-based authorization is a new model of authorization introduced in Windows
                  Communication Foundation. This model addresses more scenarios than the popular role based security model
                  (IIdentity, IPrincipal). This is useful when an application requires complex and fine grained control on
                  expressing access control decisions. Role based security model may not be powerful or flexible enough
                  and is often too coarse when we reach complex scenarios - where custom roles are often necessary to
                  represent different combinations of permissions or rights.</p>
                <a href="#" class="description-btn">Read More</a>
            </div>
  
            <div class="mb-5">
              <h5 class="blog-title">Use IoC slash Dependency Injection framework to manage hierarchical object structure
                better</h6>
                <p class="blog-paragraph">Recently I have been working with some hierarchical object structures that are a
                  composition of several other nested classes and elements, that we call “template objects”. To give you
                  an idea of this, consider “Patient” class as a container that holds patient demographics in a
                  hierarchical object structure.</p>
                <a href="#" class="description-btn">Read More</a>
            </div>
          </div>
  
        </div>
      </div>
      
  
    </div>
  </section>
  <!-- End Services Section -->