<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
        <p>Over the years we have been developing a great number of applications of different sizes and for different industries. Our industry experience includes e-business, automobile, real estate, healthcare and finance. Each client challenge is different, and each solution unique. Here we introduce some of our clients and websites that we have built in recent years.</p>
      </header>

    <!-- <div class="row" data-aos="fade-up" data-aos-delay="100"">
      <div class=" col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div> -->

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <figure>
            <img src="../assets/img/portfolio/carbonblack.jpg" class="img-fluid portfolio-img" alt="">
            <a href="../assets/img/portfolio/carbonblack.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="CarbonBlack"><i class="ion ion-eye"></i></a>
            <a href="/details/#portfolio-details" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/details/#portfolio-details">CarbonBlack</a></h4>
            <!-- <p>App</p> -->
            <p><a href="http://www.carbonblack.com.au/" target="_blank">www.carbonblack.com.au</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <figure>
            <img src="../assets/img/portfolio/webdynamic.jpg" class="img-fluid portfolio-img" alt="">
            <a href="../assets/img/portfolio/webdynamic.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="WebDynamic"><i class="ion ion-eye"></i></a>
            <a href="/details/#portfolio-details" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/details/#portfolio-details">WebDynamic</a></h4>
            <!-- <p>App</p> -->
            <p><a href="http://www.webdynamic.com.au/" target="_blank">www.webdynamic.com.au</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <figure>
            <img src="../assets/img/portfolio/lazorne.jpg" class="img-fluid portfolio-img" alt="">
            <a href="../assets/img/portfolio/lazorne.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Lazorne"><i class="ion ion-eye"></i></a>
            <a href="/details/#portfolio-details" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/details/#portfolio-details">Lazorne</a></h4>
            <!-- <p>Card</p> -->
            <p><a href="http://www.lazorne.com/" target="_blank">www.lazorne.com</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <figure>
            <img src="../assets/img/portfolio/brunetti.jpg" class="img-fluid portfolio-img" alt="">
            <a href="../assets/img/portfolio/brunetti.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Brunetti"><i class="ion ion-eye"></i></a>
            <a href="/details/#portfolio-details" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/details/#portfolio-details">Brunetti</a></h4>
            <!-- <p>Web</p> -->
            <p><a href="http://www.brunetti.com.au/" target="_blank">www.brunetti.com.au</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <figure>
            <img src="../assets/img/portfolio/cre8ivedge.jpg" class="img-fluid portfolio-img" alt="">
            <a href="../assets/img/portfolio/cre8ivedge.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Cre8ivedge"><i class="ion ion-eye"></i></a>
            <a href="/details/#portfolio-details" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="portfolio-details.html">Cre8ivedge</a></h4>
            <!-- <p>App</p> -->
            <p><a href="http://www.cre8ivedge.com.au/" target="_blank">www.cre8ivedge.com.au</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <figure>
            <img src="../assets/img/portfolio/brg-design.jpg" class="img-fluid portfolio-img" alt="">
            <a href="../assets/img/portfolio/brg-design.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="BRG Design"><i class="ion ion-eye"></i></a>
            <a href="/details/#portfolio-details" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/details/#portfolio-details">BRG Design</a></h4>
            <!-- <p>Web</p> -->
            <p><a href="http://www.brgdesign.com.au/" target="_blank">www.brgdesign.com.au</a></p>
          </div>
        </div>
      </div>
        
        <a href="/details/#portfolio-details" class="description-btn">Read More</a>

    </div>

    </div>
  </section>
  <!-- End Portfolio Section -->
