<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>Software development can be an involved and time consuming activity. This can result in more outstanding projects than development resources can handle. At Simplexhub we have a team of dedicated programmers experienced at helping businesses get projects completed on time and on budget. Join our other satisfied customers and instantly expand your development capacity.</p>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-code"></i></div>
          <h4 class="title"><a>Software Development</a></h4>
          <p class="description">Simplexhub has developed solutions for a number of clients in Australia, and United States. All Simplexhub solutions are...</p>
          <a href="/details/#service-details" class="description-btn">Read More</a>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="icofont-automation"></i></div>
          <h4 class="title"><a>Web Marketing & SEO</a></h4>
          <p class="description">Our special team of web designers and developers are dedicated to building web applications that rank highly in all the...</p>
          <a href="/details/#service-details" class="description-btn">Read More</a>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="icofont-compass-alt-2"></i></div>
          <h4 class="title"><a>Implementation</a></h4>
          <p class="description">Implementation is the process of taking requirements, applying designs, incorporating custom development and...</p>
          <a href="/details/#service-details" class="description-btn">Read More</a>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="icofont-tools-alt-2"></i></div>
          <h4 class="title"><a>Support</a></h4>
          <p class="description">All Simplexhub projects are comprehensively supported with a issue tracker, technical support and dedicated...</p>
          <a href="/details/#service-details" class="description-btn">Read More</a>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="icofont-web"></i></div>
          <h4 class="title"><a>Hosting</a></h4>
          <p class="description">Simplexhub can assist in matching our applications with suitable hosting solutions to ensure high availability...</p>
          <a href="/details/#service-details" class="description-btn">Read More</a>
        </div>

      </div>

    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Call To Action</h3>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a class="cta-btn" href="#">Call To Action</a>
    </div>
  </section>
  <!-- End Call To Action Section -->